html, * {
    box-sizing: border-box; 
    /* computa el ancho y el alto de los elementos con el margin y el border*/ 
}

html
 {
    font-size:62.5%;
    /* esto hace que 1 rem equivalga a prox a 10 px*/
}

.nombre-sitio span {
    color:#037bc0;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

/* menú principal */
#menu-ppal a {
    display: block;
    text-decoration: none;
    padding: 2rem;
    font-size: 1.2rem;
    color:black;
}

#menu-ppal{
    display:flex;
    justify-content: space-evenly;
    border-top: 0.2rem solid rgba(128, 128, 128, 0.554);
    border-bottom: 0.2rem solid rgba(128, 128, 128, 0.554);

}

.central {
    max-width:120rem;
    margin:0 auto;
}

#portada {
    background-image: url(../img/principal.jpg);
    /* fuerza a que la imagen no se repita*/
    background-repeat: no-repeat; 
    /* Alineamos la imagen de fondo */
    background-position: center center;
    height:50rem;
    margin-top:2rem;
    background-size: cover;
}

.listado-categorias {
    display:flex;
    gap:2rem;
}

.categoria a {
    text-align:center;
    display:block;
    font-size: 2rem;
    text-decoration:none;
    padding: 2rem;
}

.categoria a:hover {
    background-color: #037bc0;
    color:white;
    /*border-radius: 0 0 1rem 0;*/
    border-bottom-right-radius: 1rem;
}

/* Nosotros */
#nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    height: 50%;
}

#nosotros img {
    object-fit: cover;
   height: 100%;
}
.nosotros-fondo {
    background-color: #037bc0;
    /*grid-column-start: 2;*/
}

.texto-nosotros {
     color:white; 
     padding: 6rem;
     font-size: 1.6rem;
}
.texto-nosotros h2 {
    margin-bottom: 4rem;
    text-align: left;
}

.texto-nosotros p {
    padding-right:4rem;
}

/* Productos */
.texto-producto {
    background-color: #037bc0;
    color:white;
    padding: 2rem;
}

.precio {
    font-size: 2rem;
    font-weight: 900;
    text-align:center;
}

.boton {
    background-color: #8cbc00;
    display:block;
    text-align:center;
    padding: 1.5rem;
    color:black;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.5rem;
}

.boton:hover {
    background-color: #7fa802;
    padding: 0.5rem; /*amplia tamaño del boton*/
    font-size:2rem;
    /*propiedad css que genera una transicion entre las propiedades de un estado
    de una regla y otra con un estado(por ej hover) lo que transiciona son las
    prropiedades diferentes entre las reglas  el .8 es el t en decimas de segundo y ease out tipo de transicion*/
    transition all 0.4s ease-out;
}
.producto img{
    object-fit:cover;
}

.producto:nth-child(1) img{
    max-width: 70%;
}

.producto:nth-child(1){grid-area: p1;
            display: flex;
}
.producto:nth-child(2){grid-area: p2;}
.producto:nth-child(3){grid-area: p3;}
.producto:nth-child(4){grid-area: p4;}
.producto:nth-child(5){grid-area: p5;}
.producto:nth-child(6){grid-area: p6;}

.listado-productos {

    display:grid;
    grid-template-areas: 'p1 p1 p1 p1 p1 p1'
                        'p2 p2 p2 p3 p3 p3'
                        'p4 p4 p5 p5 p6 p6';
    gap: 2rem;
}


.listado-productos {
    display:grid;
    grid-template-columns: repeat(6,1fr);
}



.producto: :nth-child(1){

    grid-column:1 / span 6;
}

.producto: :nth-child(2){

    grid-column:1 / span 3;
}

.producto: :nth-child(3){

    grid-column:4 / span 3;
}

.producto: :nth-child(4){

    grid-column:1 / span 2;
}

.producto: :nth-child(5){

    grid-column:3 / span 2;
}
.producto: :nth-child(6){

    grid-column:5 / span 2;
}



img {
    display:block;
    max-width:100%;
}

@media (width < 400px) {
    /* Este media query activa los estilos que hay dentro cuando se cumple la condición, en este caso que el ancho de pantalla sea inferior a 400px */
    .listado-categorias {
        flex-wrap: wrap;
    }
    .categoria {
        width: 100%;
    }

    #nosotros {
        grid-template-columns: 1fr;
    }
    #nosotros img {
        display:none;
    }
}