html , * {

    box-sizing: border-box; 
    /* computa el ancho y el alto de los elementos con el margin y el borde*/
}

html {

    font-size: 62.5%;
    /*esto hace que 1 rem equivalga aprox a 10px*/
}
.nombre-sitio span{

    color:blue;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'raleway', sans-serif;
}
h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

#menu-ppal a{
    display:block;
    text-decoration: none;
    padding: 2rem;
    font-size: 1.8rem;
    color:black;
}


#menu-ppal{
    display:flex ;
    justify-content: space-evenly;
    border-top: 0.2rem solid grey;
    border-bottom:0.2rem solid grey;
}

.central{
    max-width: 120rem;
    margin:0 auto;/*centra con respecto a la caja*/
}

#portada {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;/*fuerza a que la imagen no se repita */
    background-position: center center;
    height: 50rem;
    margin-top: 2rem;
    background-size: cover;/*amplia la foto principal*/
}

.listado-categorias {
    display:flex;
    gap: 2rem;
}

.categoria a {
    text-align:center;
    display:block;
    font-size: 2rem;
    text-decoration: none;
    padding: 2 rem;
}

.categoria a:hover {
    background-color:blue;
    color:white;
    border-radius:0 0 1rem 0 ;  /*border-botton-right-radius:1 rem*/
}

/* Nosotros*/
#nosotros{
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}

#nosotros img{
    object-fit: cover;
    height: 100%;
}

.nosotros-fondo{
    background-color: blue;
    /*grid-column-start: 2;*/
}



.texto-nosotros {

    color:white;
    padding: 6rem;
    font-size: 1.6rem;

}

.texto-nosotros h2 {
    margin-bottom: 4rem;
    text-align: left;

}

.texto-nosotros p{

    padding-right: 4rem;
}
/*Productos*/

.texto-producto{
    background-color: blue;
    color: white;
     padding: 2rem;
}

.precio{

    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}

.boton{

    background-color: #8cbc00;
    display:block;
    
}

img{
    display:block; /*quitar linea blanca entre la letra y la foto */
    max-width: 100%;
   
}

@media (width<400px) {
    /*este media query activa los estilos que hay dentro cuando se cumple la condicion en este caso que el ancho de pantalla
    sea inferior a 400 px*/

    .listado-categorias{
        flex-wrap: wrap;
    }

    .categoria{
        width: 100%;
    }
    #nosotros{
        grid-template-columns: 1fr;
    }
    
    #nosotros img{
        display:none;
    }

}